@use '../utils/utils' as *;

.close {
  &__icon {
    width: $icon-sm;
    height: $icon-sm;

    @include for-desktop {
      width: $icon-lg;
      height: $icon-lg;
    }
  }

  &__label {
    @include visually-hidden;
  }
}
