@use '../utils/utils' as *;

.contact-us {
  @include grid;

  row-gap: 48px;

  &__header {
    grid-column: span 2;
    text-align: center;

    @include for-desktop {
      grid-column: 1 / 13;
    }
  }

  &__block {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include for-desktop {
      grid-column: span 3;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
    }
  }

  &__form {
    grid-column: span 2;

    @include for-desktop {
      grid-column: 8 / 13;
    }
  }
}
