@use '../utils/utils' as *;

.exhibitions {
  @include grid;

  row-gap: 48px;

  &__header {
    grid-column: span 2;
    text-align: center;

    @include for-desktop {
      grid-column: 4 / 10;
    }
  }

  &__article {
    grid-column: span 2;

    @include for-desktop {
      grid-column: span 12;
    }

    display: flex;
    flex-direction: column;
    gap: 24px;

    &-pictures {
      display: flex;
      justify-content: space-between;
    }
  }

  &__button {
    grid-column: span 2;
    margin-top: -8px;

    @include for-desktop {
      grid-column: 5 / 9;
    }
  }
}
