@use '../utils/utils' as *;

.explore-more {
  @include grid;

  row-gap: 48px;

  &__header {
    text-align: center;
    margin-bottom: -8px;

    grid-column: span 2;
  }

  &__article {
    display: flex;
    flex-direction: column;
    gap: 24px;

    grid-column: span 2;

    &-text {
      text-align: center;
    }
  }
}
