@use '../utils/utils' as *;

.footer {
  height: 180px;
  background-color: black;
  background-image: url(../images/footer-background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  @include for-tablet {
    height: 359px;
    background-image: url(../images/footer-background-desktop.jpg);
    background-position: center;
  }
}
