@use '../utils/utils' as *;

.links {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
  }

  &__link {
    font-family: Cinzel, sans-serif;
    font-weight: $font-weight-bold;
    font-size: $font-size-nav-link;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: $white-color;

    border-bottom: 1px solid transparent;
    padding-bottom: 8px;

    &:hover {
      border-bottom: 1px solid $white-color;
    }
  }
}
