@use '../utils/utils' as *;

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__icons {
    display: flex;
    gap: 24px;

    @include for-desktop {
      gap: 55px;
    }
  }
}
