@use '../utils/utils' as *;

.title {
  font-family: Cinzel, sans-serif;
  font-weight: $font-weight-bold;
  font-size: $font-size-h1;
  line-height: 100%;
  letter-spacing: -1.5px;

  text-align: center;
  vertical-align: middle;

  color: $white-color;

  @include for-desktop {
    font-size: $font-size-h1-desktop;
  }
}
