@use 'utils' as *;

.title {
  font-family: Cinzel, sans-serif;
  font-weight: $font-weight-bold;

  &--header {
    font-size: $font-size-h1;
    line-height: 100%;
    letter-spacing: -1.5px;

    text-align: center;
    vertical-align: middle;

    color: $white-color;

    @include for-tablet {
      font-size: $font-size-h1-tablet;
    }

    @include for-desktop {
      font-size: $font-size-h1-desktop;
    }
  }

  &--label {
    font-size: $font-size-tiny;
    line-height: 140%;

    color: $red-color;
  }

  &--section {
    font-size: $font-size-h2;
    line-height: 100%;
    letter-spacing: -1.5px;

    color: $dark-color;

    @include for-tablet {
      font-size: $font-size-h2-desktop;
    }
  }

  &--article {
    font-size: $font-size-h3;
    line-height: 30px;
  }

  &--small {
    font-size: $font-size-body;
    line-height: 27px;
  }

  &--red {
    color: $red-color;
  }

  &--dark {
    color: $dark-color;
  }
}

.text {
  font-size: $font-size-body;
  line-height: 27px;

  color: $dark-color;

  &--label  {
    font-size: $font-size-small;
  }

  &--cinzel {
    font-family: Cinzel, sans-serif;
    font-weight: $font-weight-regular;
  }

  &--roboto {
    font-family: Roboto, sans-serif;
    font-weight: $font-weight-regular;
  }

  &--bold {
    font-weight: $font-weight-bold;
  }

  &--red {
    color: $red-color;
  }

  &--white {
    color: $white-color;
  }
}
