// Colors
$white-color: #fff;
$red-color: #d12d35;
$dark-color: #161616;

// Font weights
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font sizes
$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-body: 16px;
$font-size-nav-link: 22px;
$font-size-h3: 24px;
$font-size-h2: 32px;
$font-size-h2-desktop: 48px;
$font-size-h1: 40px;
$font-size-h1-tablet: 64px;
$font-size-h1-desktop: 80px;
